.lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.rules {
  width: 60%;
}

.biteCode {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
